/* Desktop */
@media screen and (min-width: 700px) {
.wrapper h1 {
  margin: 3% 0 0 0;
  color: white;
}

.frame {
  max-width: 700px;
  margin: 1.5% auto;
}

.card {
  height: 130px;
  width: 130px;
  margin: 10px;
}

.visible {
  height: 25%;
  width: 40%;
  margin-top: 23.5%;
}

h2 {
  font-size: 3em;
  margin-top: 9%;
}

p {
  font-size: 1.2em;
  margin-top: 4%;
}

.button {
  margin-bottom: 1.5%;
}
}

/* Mobile */
@media screen and (max-width: 699px) {
.wrapper h1 {
  margin: 10% 0 0 0;
  color: black;
}

.frame {
  max-width: 400px;
  margin: 10% auto 0;
}

.card {
  height: 80px;
  width: 80px;
  margin: 2px;
}

.visible {
  height: 20%;
  width: 96%;
  padding: 0 2%;
  margin-top: 81%;
}

h2 {
  font-size: 2em;
  margin-top: 5%;
}

p {
  font-size: 1.3em;
  margin-top: 4%;
}

.button {
  margin-bottom: 12.5%;
}
}
