* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;

}
.frame {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  max-width: 900px;
  align-content: center;
  justify-content: center;
}

.card {
height: 180px;
width: 180px;
margin: 5px;
text-align: center;
background-color: salmon;
}

.card[data-card='A'] {
  background-color: blue;
}
.card[data-card='B'] {
  background-color: red;
}
.card[data-card='C'] {
  background-color: green;
}
.card[data-card='D'] {
  background-color: yellow;
}
.card[data-card='E'] {
  background-color: pink;
}
.card[data-card='F'] {
  background-color: orange;
}
.card[data-card='G'] {
  background-color: purple;
}
.card[data-card='H'] {
  background-color: brown;
}

.button {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center
}

/* Animations */
.flip {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          background-color: darkTurquoise;
}
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
