@import "media.css";

/* Card ID's*/
.card.flip[data-id='0'] {
  background-image: url('img/arnold.jpg');
  background-size: cover;
}
.card.flip[data-id='1'] {
  background-image: url('img/chuck.jpeg');
  background-size: cover;
}
.card.flip[data-id='2'] {
  background-image: url('img/dolf.jpg');
  background-size: cover;
}
.card.flip[data-id='3'] {
  background-image: url('img/jackie.jpg');
  background-size: cover;
}
.card.flip[data-id='4'] {
  background-image: url('img/jeanclaude.jpg');
  background-size: cover;
}
.card.flip[data-id='5'] {
  background-image: url('img/persbrandt.jpg');
  background-size: cover;
}
.card.flip[data-id='6'] {
  background-image: url('img/sly.jpeg');
  background-size: cover;
}
.card.flip[data-id='7'] {
  background-image: url('img/steven.jpg');
  background-size: cover;
}

/* Styling */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: gruppo;
}

body {
  height: 100vh;
}

.wrapper h1 {
  font-size: 5em;
}

.wrapper {
  background-image: url('img/background.jpg');
  background-size: cover;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
}

.card {
  text-align: center;
  background-image: url('img/grenade.jpeg');
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button {
  background-color: red;
  border: none;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 900;
  cursor: pointer;
}

.button:active {
  transform: translateY(2px);
}

.hold {
  pointer-events: none;
}

.flip.clicked {
  pointer-events: none;
}

/* Animations */
.flip {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
