@import "media.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}

button {
  background-color: red;
}

.wrapper h1 {
  margin: 0;
  font-size: 5em;
  color: white;
}

.wrapper {
  background-image: url('img/background.jpg');
  background-size: cover;
  font-family: gruppo;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.frame {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.card {
text-align: center;
background-image: url('img/grenade.jpeg');
background-size: contain;
display: flex;
justify-content: center;
align-items: center;
/*font-size: 50px;*/
border-radius: 5px;
}

/*.card p {
  opacity: 0;
}*/

.card.flip[data-id='0'] {
  background-image: url('img/arnold.jpg');
  background-size: cover;
}
.card.flip[data-id='1'] {
  background-image: url('img/chuck.jpeg');
  background-size: cover;
}
.card.flip[data-id='2'] {
  background-image: url('img/dolf.jpg');
  background-size: cover;
}
.card.flip[data-id='3'] {
  background-image: url('img/jackie.jpg');
  background-size: cover;
}
.card.flip[data-id='4'] {
  background-image: url('img/jeanclaude.jpg');
  background-size: cover;
}
.card.flip[data-id='5'] {
  background-image: url('img/persbrandt.jpg');
  background-size: cover;
}
.card.flip[data-id='6'] {
  background-image: url('img/sly.jpeg');
  background-size: cover;
}
.card.flip[data-id='7'] {
  background-image: url('img/steven.jpg');
  background-size: cover;
}

.button {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hold {
  pointer-events: none;
}

.flip.clicked {
  pointer-events: none;
  /*background-color: green;*/
}

/* Animations */
.flip {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          /*background-color: darkTurquoise;*/
}

/*.flip p {
  opacity: 1;
}*/
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
